@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8sDE3Uzf4c.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tdE3Uzf4c.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8tvE3Uzf4c.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8u6FHUzf4c.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/iJWbBXyIfDnIV7nEt3KSJbVDV49rz8v0FHUzf4c.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYiFU0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFU0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYiFU0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-FU0Uw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-ro-FU0Uw.ttf) format('truetype');
}
