{
    "plugins": ["prettier"],
    "extends": ["airbnb-typescript", "react-app", "prettier"],
    "overrides": [
      {
        "files": [
          "**/*.tsx"
        ]
      }
    ],
    "rules": {
      "consistent-return": 0,
      "comma-dangle": ["error", "always-multiline"],
      "object-curly-spacing": ["warn", "always"],
      "no-unused-vars": [
        "warn",
        {
          "vars": "all",
          "args": "none"
        }
      ],
      "max-len": [
        "warn",
        {
          "code": 120,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true,
          "ignoreComments": true
        }
      ],
      "no-plusplus": [
        "error",
        {
          "allowForLoopAfterthoughts": true
        }
      ],
      "react/jsx-key": "error",
      "import/no-extraneous-dependencies": [
        "error",
      ],
      "react/jsx-props-no-spreading": "off",
      "import/prefer-default-export": "off",
      "react/jsx-boolean-value": "off",
      "react/prop-types": "off",
      "react/no-unescaped-entities": "off",
      "react/jsx-one-expression-per-line": "off",
      "react/jsx-wrap-multilines": "off",
      "react/destructuring-assignment": "off",
      "react/require-default-props": "off",
      "no-nested-ternary": "off",
      "react/react-in-jsx-scope": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "no-multiple-empty-lines": "error"
    }
  }
  