body {
  margin: 0;
  padding: 0;
  background: #172442;
}
body:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#191842), color-stop(95%, transparent));
  background: linear-gradient(0deg, #191842, transparent 95%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  height: 400px;
  box-shadow: -5px 35px 30px -20px rgba(0, 0, 0, 0.5);
}
body:after {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 0.7em;
  margin: 0 0 0 0.6em;
  text-transform: uppercase;
  content: 'UMER KAZI';
  color: violet;
  mix-blend-mode: lighten;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  opacity: .9;
}

canvas {
  position: relative;
  z-index: 2;
  background: transparent;
}