.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 60px;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px;
  width: 100%;
}

.row {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.row3 {
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}

.right2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.button {
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  background-color: #121212;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.button2 {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #121212;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.title {
  font-family: var(--font);
  font-size: 30px;
  font-weight: 600;
}

.subtitle {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #b6b9bd;
}
.subtitle2 {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #b6b9bd;
}

.body {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 200;
  color: #b6b9bd;
  text-transform: lowercase;
}

.picture {
  width: 200px;
  border-radius: 10px;
  margin-right: 20px;
}

.picture2 {
    float: left;
    width: 180px;
    border-radius: 10px;
    margin-right: 10px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: var(--accent);
}

.row2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.experienceContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

.experience {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.textContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.role {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  text-transform: lowercase;
}

.company {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  color: #b6b9bd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
} 

.company:hover {
  color: var(--accent);
}

.left2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px
}

.date {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  color: #b6b9bd;
  text-transform: lowercase;
}

.projectsContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectCard {
  height: 200px;
  width: 200px;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .projectCard {
    width: calc(50% - 5px);
    height: calc(50% - 20px);
  }
  .projectsContainer {
    gap: 10px
  }
}

.projectCard:hover {
  border: 1px solid var(--accent);
}

.contactContainer {
  width: 100%;
}